/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button {
    /*-fx-background-color: #007bff; */
    /*-fx-text-fill: white; */
}

.button:hover {
    -fx-border-color: #FFFFFF; 
    -fx-border-width: 3px; 
    -fx-border-style: solid; 
    -fx-border-radius: 5px; 
    -fx-cursor: hand;
}